.calendar {
  font-size: 1.1rem;
  font-weight: 500;
  @include box($padding: 1rem 1rem 0 1rem);

  calendar {
    padding: 0.55rem;

    &:selected {
      text-shadow: $text_shadow;
      color: $green;
      @if $theme=='light' {
        color: $red;
      }
    }

    &.highlight,
    &.header,
    &.button {
      color: $green;
      @if $theme=='light' {
        color: $red;
      }
    }

    &:indeterminate {
      color: transparentize($fg_color, 0.7);
    }
  }
}