.vol {
  @include floating_widget;
  border-radius: $radius*1.1;
  padding: .2rem;

  label {
    color: lighten($color: $bg_color, $amount: 10%);

    @if $theme =="light" {
      color: darken($color: $bg_color, $amount: 10%);
    }

    font-size: 2rem;
    margin: 0.8rem 0;
    text-shadow: $text_shadow;
  }

  .scale {
    @include slider($width: 3rem);
    min-height: 15rem;
  }
}
